run = "npm run start"
entrypoint = "package.json"
modules = ["nodejs-20"]

[nix]
channel = "stable-23_11"

[deployment]
build = "npm run build"
run = "npm run start"

[[deployment.env]]
key = "NIXPACKS_NODE_VERSION"
value = "20"

[[deployment.env]]
key = "NEXT_PUBLIC_M3_PREVIEW"
value = "true"

[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34023
externalPort = 3000

[[ports]]
localPort = 41751
externalPort = 3001

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
