run = "npm run start"
entrypoint = "package.json"

[nix]
channel = "stable-23_11"

[deployment]
build = "npm run build"
run = "npm run start"

[[deployment.env]]
key = "NIXPACKS_NODE_VERSION"
value = "20"

[[deployment.env]]
key = "NEXT_PUBLIC_M3_PREVIEW"
value = "true"
