run = "npm run dev"
entrypoint = "package.json"

[nix]
channel = "stable-23_11"
packages = ["nodejs-18_x", "nodePackages.npm"]

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true
